
body {
    font-family: "Cairo", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    /* direction: rtl;
    text-align: right; */
    color: #333;
  }
  

  header {
    background-color: #004aad;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  img {
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  table th,
  table td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #004aad;
    color: white;
  }
  
  form {
    margin-top: 20px;
  }
  
  fieldset {
    border: 2px solid #004aad;
    border-radius: 10px;
    padding: 15px;
  }
  
  legend {
    font-weight: bold;
    color: #004aad;
  }
  
  label {
    font-weight: bold;
  }


  
  input,
  textarea,
  button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
  }
  
  button {
    background-color: #004aad;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00337a;
  }
  

  footer {
    text-align: center;
    background-color: #004aad;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
 
  @media (max-width: 600px) {
    nav a {
      display: block;
      margin: 10px 0;
    }
  
    section {
      margin: 10px;
      padding: 15px;
    }
  
    table th,
    table td {
      font-size: 14px;
    }
  }
  
  